*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* ===================================================NAVBAR=========================================================== */
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand > img{
    width: 3rem;
    border-radius: 50%;
}