/* =================================================LINKS AND IMPORTS================================================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* ===================================================CSS VARIABLES==================================================== */
:root{
    --font-lato: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* ===================================================NAVBAR=========================================================== */
.navbar{
    padding: 0;
}
.navbar-brand > img{
    width: 3rem;
    border-radius: 50%;
}
/* ==================================================MAIN CONTENT====================================================== */
.head-cont{
    background: url(/assets/red-pc.jpg) rgba(0, 0, 0, 0.816);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-cont > .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head-cont > .welcome > .head-branding >img{
    border-radius: 50%;
    border: 2px solid white;
    width: 15rem;
}
.head-cont > .welcome > .heading{
    margin-top: 1rem;
    font-size: 3rem;
}
/* =================================================VIDEOS SECTION==================================================== */
.videos-cont{
    background: url(/assets/Blue-controller.jpg) rgba(0, 0, 0, 0.616);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    padding: 4rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
.videos-cont > .heading{
    margin-bottom: 7rem;
    font-size: 3rem;
    color: white;
}
.card-cont{
    display: flex;
    justify-content: space-evenly;
}
.videos-cont > .card-cont> .card{
    width: 16rem;
    background: rgba(255, 255, 255, .75);
    margin:0 2rem 2rem 2rem;
}
.card-img-top{
    opacity: .96;
}
.card-title{
    margin-bottom: 5rem;
}
.more-videos{
    align-self: flex-end;
}
/* ===================================================LIVE STREAMS====================================================== */

.live-cont{
    background: url(/assets/keyboard.jpg) rgba(0, 0, 0, 0.616);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    padding: 4rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
.live-cont > .heading{
    margin-bottom: 7rem;
    font-size: 3rem;
    color: white;
}
.live-cont > .card-cont> .card{
    width: 16rem;
    background: rgba(255, 255, 255, .75);
    margin:0 2rem 2rem 2rem;
}