/* =================================================BG Utils=========================================================== */
.frosted-glass-black{
    background: rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(10px);
}
/* =================================================FOOTER============================================================= */
.footer{
    display: flex;
    align-items: center;
    background: black;
    padding: 1rem 2rem 0 2rem;
}
.footer-branding{
    width: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.footer > h4{
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
}
.footer > .icons{
    display: flex;
    align-items: center;
}
.footer > .icons > a > svg{
    width: 25px;
    height: 25px;
    fill: white;
    margin: 0 .25rem 1rem 0;
    transition: .3s;
}
.footer > .icons > a > svg:hover{
    fill: red;
}